<a href="https://colab.research.google.com/github/Laura-VFA/DataMining-21-22/blob/main/Notebooks/DM_Entrega2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Minería de Datos
## Preproceso y Transformación

## 1. Recopilación de datasets necesarios

In [518]:
!rm *.*

!wget https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Datasets/Dataset1.-%20DatosConsumoAlimentarioMAPAporCCAA.txt 
!wget https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Datasets/Dataset2.-%20Precios%20Semanales%20Observatorio%20de%20Precios%20Junta%20de%20Andalucia.txt 
!wget https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Datasets/Dataset3a_Datos_MercaMadrid.txt 
!wget https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Datasets/Dataset3b_Datos_MercaBarna.txt

#!wget https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Datasets/precios_agrarios_enero2019_junio2021.csv
!wget https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Datasets/planificacion_siembra.csv

!wget https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Datasets/Aemet.csv

!wget https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Dicts/ccaa_names.json
!wget https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Dicts/cultivos_names.json
!wget https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Dicts/months_season.json

!pip install unidecode

--2021-12-04 10:15:06--  https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Datasets/Dataset1.-%20DatosConsumoAlimentarioMAPAporCCAA.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1885064 (1.8M) [text/plain]
Saving to: ‘Dataset1.- DatosConsumoAlimentarioMAPAporCCAA.txt’

Dataset1.- DatosCon 100%[===================>]   1.80M  --.-KB/s    in 0.01s

2021-12-04 10:15:06 (140 MB/s) - ‘Dataset1.- DatosConsumoAlimentarioMAPAporCCAA.txt’ saved [1885064/1885064]

--2021-12-04 10:15:06--  https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Datasets/Dataset2.-%20Precios%20Semanales%20Observatorio%20de%20Precios%20Junta%20de%20Andalucia.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2481863 (2.4M) [text/plain]
Saving to: ‘Dataset2.- Precios Semanales Observatorio de Precios Junta de Andalucia.txt’

Dataset2.- Precios  100%[===================>]   2.37M  --.-KB/s    in 0.02s

2021-12-04 10:15:06 (152 MB/s) - ‘Dataset2.- Precios Semanales Observatorio de Precios Junta de Andalucia.txt’ saved [2481863/2481863]

--2021-12-04 10:15:06--  https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Datasets/Dataset3a_Datos_MercaMadrid.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5018905 (4.8M) [text/plain]
Saving to: ‘Dataset3a_Datos_MercaMadrid.txt’

Dataset3a_Datos_Mer 100%[===================>]   4.79M  --.-KB/s    in 0.03s

2021-12-04 10:15:07 (152 MB/s) - ‘Dataset3a_Datos_MercaMadrid.txt’ saved [5018905/5018905]

--2021-12-04 10:15:07--  https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Datasets/Dataset3b_Datos_MercaBarna.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2621190 (2.5M) [text/plain]
Saving to: ‘Dataset3b_Datos_MercaBarna.txt’

Dataset3b_Datos_Mer 100%[===================>]   2.50M  --.-KB/s    in 0.02s

2021-12-04 10:15:07 (164 MB/s) - ‘Dataset3b_Datos_MercaBarna.txt’ saved [2621190/2621190]

--2021-12-04 10:15:07--  https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Datasets/planificacion_siembra.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 6363 (6.2K) [text/plain]
Saving to: ‘planificacion_siembra.csv’

planificacion_siemb 100%[===================>]   6.21K  --.-KB/s    in 0s

2021-12-04 10:15:07 (72.8 MB/s) - ‘planificacion_siembra.csv’ saved [6363/6363]

--2021-12-04 10:15:07--  https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Datasets/Aemet.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 98538828 (94M) [text/plain]
Saving to: ‘Aemet.csv’

Aemet.csv           100%[===================>]  93.97M   148MB/s    in 0.6s

2021-12-04 10:15:08 (148 MB/s) - ‘Aemet.csv’ saved [98538828/98538828]

--2021-12-04 10:15:08--  https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Dicts/ccaa_names.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2852 (2.8K) [text/plain]
Saving to: ‘ccaa_names.json’

ccaa_names.json     100%[===================>]   2.79K  --.-KB/s    in 0s

2021-12-04 10:15:08 (35.9 MB/s) - ‘ccaa_names.json’ saved [2852/2852]

--2021-12-04 10:15:08--  https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Dicts/cultivos_names.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3199 (3.1K) [text/plain]
Saving to: ‘cultivos_names.json’

cultivos_names.json 100%[===================>]   3.12K  --.-KB/s    in 0s

2021-12-04 10:15:08 (46.6 MB/s) - ‘cultivos_names.json’ saved [3199/3199]

--2021-12-04 10:15:08--  https://raw.githubusercontent.com/Laura-VFA/DataMining-21-22/main/Dicts/months_season.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 395 [text/plain]
Saving to: ‘months_season.json’

months_season.json  100%[===================>]     395  --.-KB/s    in 0s

2021-12-04 10:15:08 (25.6 MB/s) - ‘months_season.json’ saved [395/395]

Requirement already satisfied: unidecode in /usr/local/lib/python3.7/dist-packages (1.3.2)

In [ ]:
!rm *.*

In [519]:
import pandas

calendario_siembra = pandas.read_csv('planificacion_siembra.csv', sep=';')
calendario_siembra.head()

     Cultivo         Familia  Aprovecha     Epoca siemb  ...  nov nov.1  dic dic.1
0     ACELGA  Quenopodiáceas       hoja    Otoño-Primav  ...    C     C    C     C
1        AJO       Liliáceas      bulbo  Otoño-Invierno  ...    S     S  NaN   NaN
2  ALCACHOFA      Compuestas  infloresc          Primav  ...    C     C    C     C
3       APIO    Umbrelíferas       hoja          Primav  ...    C     C    C     C
4  BERENJENA      Solenáceas      fruto          Primav  ...  NaN   NaN  NaN   NaN

[5 rows x 31 columns]

In [520]:
import pandas

consumo_CCAA = pandas.read_csv('Dataset1.- DatosConsumoAlimentarioMAPAporCCAA.txt', sep='|', decimal=',')
consumo_CCAA.head()

    Año    Mes            CCAA  ... Gasto per capita  Unnamed: 10  Unnamed: 11
0  2018  Enero  Total Nacional  ...             1.85          NaN          NaN
1  2018  Enero  Total Nacional  ...             1.20          NaN          NaN
2  2018  Enero  Total Nacional  ...             0.11          NaN          NaN
3  2018  Enero  Total Nacional  ...             0.55          NaN          NaN
4  2018  Enero  Total Nacional  ...             8.25          NaN          NaN

[5 rows x 12 columns]

In [521]:
import pandas

precios_JAndalucia = pandas.read_csv('Dataset2.- Precios Semanales Observatorio de Precios Junta de Andalucia.txt', sep='|', decimal=',')
precios_JAndalucia.head()

       INICIO         FIN     GRUPO  ... FORMATO PRECIO    UNIDAD
0  01/01/2018  07/01/2018  Agrícola  ...     NaN   0.92  Euros/kg
1  01/01/2018  07/01/2018  Agrícola  ...     NaN   0.84  Euros/kg
2  01/01/2018  07/01/2018  Agrícola  ...     NaN   0.78  Euros/kg
3  01/01/2018  07/01/2018  Agrícola  ...     NaN   1.01  Euros/kg
4  01/01/2018  07/01/2018  Agrícola  ...     NaN   3.77  Euros/kg

[5 rows x 13 columns]

In [522]:
import pandas

dat_mercaMadrid = pandas.read_csv('Dataset3a_Datos_MercaMadrid.txt', sep='|', decimal=',')
dat_mercaMadrid.head()

     product   variedad     origen  ... price_min price_max  Volumen
0  ACEITUNAS  ACEITUNAS    ALMERIA  ...      3.31      3.61     6700
1  ACEITUNAS  ACEITUNAS    ALMERIA  ...      3.31      3.61      400
2  ACEITUNAS  ACEITUNAS    ALMERIA  ...      3.31      3.61      260
3  ACEITUNAS  ACEITUNAS    BADAJOZ  ...      3.31      3.61    24060
4  ACEITUNAS  ACEITUNAS  BARCELONA  ...      0.00      0.00     1000

[5 rows x 11 columns]

In [523]:
import pandas

dat_mercaBarna = pandas.read_csv('Dataset3b_Datos_MercaBarna.txt', sep='|', decimal=',')
dat_mercaBarna.head()

     product     origen Unidad       familia  YEAR  MONTH  price_mean  Volumen
0  ACEITUNAS  BARCELONA     kg  FRUTAS HUESO  2018      4         3.8       12
1  ACEITUNAS  BARCELONA     kg  FRUTAS HUESO  2018      5         3.8        5
2  ACEITUNAS  BARCELONA     kg  FRUTAS HUESO  2018      6         3.8       10
3  ACEITUNAS  BARCELONA     kg  FRUTAS HUESO  2018      7         3.8        4
4  ACEITUNAS  BARCELONA     kg  FRUTAS HUESO  2018      8         3.8       12

In [524]:
import pandas

aemet = pandas.read_csv('Aemet.csv', sep=',')
aemet.head()

   Unnamed: 0  Unnamed: 0.1  ... Precipitación 18-24h (mm)       Fecha
0           0             0  ...                       NaN  2018-03-07
1           1             1  ...                       0.0  2018-03-07
2           2             2  ...                       0.0  2018-03-07
3           3             3  ...                       0.0  2018-03-07
4           4             4  ...                       0.0  2018-03-07

[5 rows x 15 columns]

## 2. Selección de Características (y elementos?????)

In [526]:
calendario_siembra = calendario_siembra.drop(columns=calendario_siembra.columns[7:])
calendario_siembra = calendario_siembra.drop(labels=['Familia', 'Aprovecha', 'Asociac', 'Rotaciones'], axis=1)
calendario_siembra.head()
# Fresa???????

     Cultivo     Epoca siemb D siem-recol
0     ACELGA    Otoño-Primav           90
1        AJO  Otoño-Invierno       60-120
2  ALCACHOFA          Primav       90-120
3       APIO          Primav          100
4  BERENJENA          Primav          130

In [527]:
consumo_CCAA = consumo_CCAA.drop(columns=consumo_CCAA.columns[10:12])
consumo_CCAA.head(10)

    Año    Mes  ... Consumo per capita Gasto per capita
0  2018  Enero  ...               2.38             1.85
1  2018  Enero  ...               1.74             1.20
2  2018  Enero  ...               0.09             0.11
3  2018  Enero  ...               0.11             0.55
4  2018  Enero  ...               4.60             8.25
5  2018  Enero  ...               0.88             1.48
6  2018  Enero  ...               0.57             0.58
7  2018  Enero  ...               0.06             0.24
8  2018  Enero  ...               0.15             0.17
9  2018  Enero  ...               0.09             0.14

[10 rows x 10 columns]

In [528]:
precios_JAndalucia['CATEGORIA'].unique()
precios_JAndalucia = precios_JAndalucia.drop(labels=['CATEGORIA'], axis=1)
precios_JAndalucia.head()

       INICIO         FIN     GRUPO  ... FORMATO PRECIO    UNIDAD
0  01/01/2018  07/01/2018  Agrícola  ...     NaN   0.92  Euros/kg
1  01/01/2018  07/01/2018  Agrícola  ...     NaN   0.84  Euros/kg
2  01/01/2018  07/01/2018  Agrícola  ...     NaN   0.78  Euros/kg
3  01/01/2018  07/01/2018  Agrícola  ...     NaN   1.01  Euros/kg
4  01/01/2018  07/01/2018  Agrícola  ...     NaN   3.77  Euros/kg

[5 rows x 12 columns]

In [529]:
precios_JAndalucia = precios_JAndalucia.drop(labels=['UNIDAD', 'SUBSECTOR', 'TIPO', 'SUBTIPO', 'FORMATO', 'GRUPO', 'SECTOR'], axis=1)
precios_JAndalucia.head()

       INICIO         FIN   PRODUCTO POSICION  PRECIO
0  01/01/2018  07/01/2018      LIMON   Mercas    0.92
1  01/01/2018  07/01/2018  MANDARINA   Mercas    0.84
2  01/01/2018  07/01/2018    NARANJA   Mercas    0.78
3  01/01/2018  07/01/2018     POMELO   Mercas    1.01
4  01/01/2018  07/01/2018   AGUACATE   Mercas    3.77

In [530]:
dat_mercaMadrid = dat_mercaMadrid.drop(labels=['Unidad', 'variedad', 'familia'], axis=1)
dat_mercaMadrid.head()

     product     origen  YEAR  MONTH  price_mean  price_min  price_max  Volumen
0  ACEITUNAS    ALMERIA  2018      2        3.46       3.31       3.61     6700
1  ACEITUNAS    ALMERIA  2018      4        3.46       3.31       3.61      400
2  ACEITUNAS    ALMERIA  2018      5        3.46       3.31       3.61      260
3  ACEITUNAS    BADAJOZ  2018      4        3.46       3.31       3.61    24060
4  ACEITUNAS  BARCELONA  2019      2        0.00       0.00       0.00     1000

In [531]:
dat_mercaBarna = dat_mercaBarna.drop(labels=['Unidad', 'familia'], axis=1)
dat_mercaBarna.head()

     product     origen  YEAR  MONTH  price_mean  Volumen
0  ACEITUNAS  BARCELONA  2018      4         3.8       12
1  ACEITUNAS  BARCELONA  2018      5         3.8        5
2  ACEITUNAS  BARCELONA  2018      6         3.8       10
3  ACEITUNAS  BARCELONA  2018      7         3.8        4
4  ACEITUNAS  BARCELONA  2018      8         3.8       12

In [532]:
# Las dos primeras columnas son el identificador, y el subidentificador dentro de cada día. Eliminenlos perros
aemet = aemet.drop(columns=aemet.columns[:2])
aemet.head()

               Estación Provincia  ... Precipitación 18-24h (mm)       Fecha
0       Estaca de Bares  A Coruña  ...                       NaN  2018-03-07
1             As Pontes  A Coruña  ...                       0.0  2018-03-07
2              A Coruña  A Coruña  ...                       0.0  2018-03-07
3   A Coruña Aeropuerto  A Coruña  ...                       0.0  2018-03-07
4  Carballo, Depuradora  A Coruña  ...                       0.0  2018-03-07

[5 rows x 13 columns]

In [533]:
aemet = aemet.drop(labels=['Estación', 'Temperatura máxima (ºC)', 'Temperatura mínima (ºC)', 'Racha (km/h)', 'Velocidad máxima (km/h)'], axis=1)
aemet.head()

  Provincia  Temperatura media (ºC)  ...  Precipitación 18-24h (mm)       Fecha
0  A Coruña                    10.2  ...                        NaN  2018-03-07
1  A Coruña                     7.0  ...                        0.0  2018-03-07
2  A Coruña                    10.2  ...                        0.0  2018-03-07
3  A Coruña                     8.7  ...                        0.0  2018-03-07
4  A Coruña                     7.4  ...                        0.0  2018-03-07

[5 rows x 8 columns]

In [534]:
aemet = aemet.drop(labels=['Precipitación 00-06h (mm)', 'Precipitación 06-12h (mm)', 'Precipitación 12-18h (mm)', 'Precipitación 18-24h (mm)'], axis=1)
aemet.head()

  Provincia  Temperatura media (ºC)  Precipitación 00-24h (mm)       Fecha
0  A Coruña                    10.2                        NaN  2018-03-07
1  A Coruña                     7.0                        1.8  2018-03-07
2  A Coruña                    10.2                        1.0  2018-03-07
3  A Coruña                     8.7                        0.7  2018-03-07
4  A Coruña                     7.4                        0.6  2018-03-07

## 3. Preproceso

### 3.1 Selección de elementos

### 3.1.1 Unificar nombres de productos

In [535]:
import json
# Load the dicts
with open('cultivos_names.json') as json_file:
  cultivos_names = json.load(json_file)

In [536]:
calendario_siembra['Cultivo'].unique()

array(['ACELGA', 'AJO', 'ALCACHOFA', 'APIO', 'BERENJENA', 'BROCOLI',
       'CALABACÍN', 'CALABAZA', 'CEBOLLA guardar', 'CEBOLLA tierna',
       'CHIRIVIA', 'COL CHINA', 'COL BRUSELAS', 'COL LOMBARDA',
       'COL REPOLLO', 'COLIFLOR', 'ESCAROLA ', 'ESPINACA', 'FRESA',
       'GUISANTE', 'HABAS', 'JUDIAS MATA BAJA', 'JUDIAS ENRAME',
       'LECHUGAS', 'MAIZ', 'MELÓN', 'NABO', 'PATATA', 'PEPINO', 'PEREJIL',
       'PIMIENTO', 'PUERRO', 'RABANITO', 'REMOLACHA', 'SANDIA', 'TOMATE',
       'ZANAHORIA'], dtype=object)

In [537]:
from unidecode import unidecode
elems_remove = ['FRESA', 'JUDIAS ENRAME'] # quitar judia enrame puesto que tiene el mismo tiempo de siembra que la otra
for elem in elems_remove:
  #calendario_siembra = calendario_siembra.drop(calendario_siembra[calendario_siembra['Cultivo'] == elem].index)
  calendario_siembra = calendario_siembra[calendario_siembra.Cultivo != elem]

#Singular, quitar tildes y renombrar nombres rarunos
calendario_dict = cultivos_names['calendario']
calendario_siembra['Cultivo'] = calendario_siembra['Cultivo'].map(lambda x: x.strip() if x not in calendario_dict else calendario_dict[x]).map(lambda x: unidecode(x))
calendario_siembra['Cultivo'].unique()

array(['ACELGA', 'AJO', 'ALCACHOFA', 'APIO', 'BERENJENA', 'BROCOLI',
       'CALABACIN', 'CALABAZA', 'CEBOLLA', 'CEBOLLETA', 'CHIRIVIA',
       'COL CHINA', 'COL BRUSELAS', 'COL LOMBARDA', 'COL REPOLLO',
       'COLIFLOR', 'ESCAROLA', 'ESPINACA', 'GUISANTE', 'HABA', 'JUDIA',
       'LECHUGA', 'MAIZ', 'MELON', 'NABO', 'PATATA', 'PEPINO', 'PEREJIL',
       'PIMIENTO', 'PUERRO', 'RABANITO', 'REMOLACHA', 'SANDIA', 'TOMATE',
       'ZANAHORIA'], dtype=object)

In [538]:
consumo_CCAA['Producto'].unique()

array(['TOTAL PATATAS', 'PATATAS FRESCAS', 'PATATAS CONGELADAS',
       'PATATAS PROCESADAS', 'T.HORTALIZAS FRESCAS', 'TOMATES',
       'CEBOLLAS', 'AJOS', 'COLES', 'PEPINOS', 'JUDIAS VERDES',
       'PIMIENTOS', 'CHAMPIÑONES+O.SETAS', 'LECHUGA/ESC./ENDIVIA',
       'ESPARRAGOS', 'VERDURAS DE HOJA', 'BERENJENAS', 'ZANAHORIAS',
       'CALABACINES', 'OTR.HORTALIZAS/VERD.', 'BROCOLI', 'ALCACHOFAS',
       'VERD./HORT. IV GAMA', 'T.FRUTAS FRESCAS', 'NARANJAS',
       'MANDARINAS', 'LIMONES', 'PLATANOS', 'MANZANAS', 'PERAS',
       'MELOCOTONES', 'NECTARINAS', 'ALBARICOQUES', 'FRESAS/FRESON',
       'MELON', 'SANDIA', 'CIRUELAS', 'CEREZAS', 'UVAS', 'KIWI',
       'AGUACATE', 'PIÑA', 'OTRAS FRUTAS FRESCAS', 'POMELO', 'CHIRIMOYA',
       'FRUTAS IV GAMA', 'PATATAS FRITAS', 'APIO', 'COLIFLOR', 'PUERRO',
       'MANGO'], dtype=object)

In [539]:
consumo_CCAA_dict = cultivos_names['consumo_CCAA_dict']
#ASUNCIONNNNNNNNNNNN COLES A COL REPOLLO
for elem in list(consumo_CCAA['Producto'].unique()) - consumo_CCAA_dict.keys():
  #consumo_CCAA = consumo_CCAA.drop(consumo_CCAA[consumo_CCAA['Producto'] == elem].index)
  consumo_CCAA = consumo_CCAA[consumo_CCAA.Producto != elem]

consumo_CCAA['Producto'] = consumo_CCAA['Producto'].map(lambda x: consumo_CCAA_dict[x])
consumo_CCAA['Producto'].unique()

array(['PATATA', 'TOMATE', 'CEBOLLA', 'AJO', 'COL REPOLLO', 'PEPINO',
       'JUDIA', 'PIMIENTO', 'LECHUGA', 'BERENJENA', 'ZANAHORIA',
       'CALABACIN', 'BROCOLI', 'ALCACHOFA', 'MELON', 'SANDIA', 'APIO',
       'COLIFLOR', 'PUERRO'], dtype=object)

In [540]:
dat_mercaMadrid['product'].unique()

array(['ACEITUNAS', 'ACELGAS', 'AGUACATES', 'AJOS', 'ALBARICOQUES',
       'ALCACHOFAS', 'ALPICOCES', 'APIO', 'AVELLANAS', 'BANANITOS',
       'BATATAS', 'BELLOTAS', 'BERENJENAS', 'BERROS', 'BONIATOS',
       'BORRAJAS', 'BREVAS', 'BROCOLI', 'CALABACINES', 'CALABAZAS',
       'CAQUIS', 'CARAMBOLA', 'CARDOS', 'CARLOTAS', 'CASTAÃ\x91AS',
       'CAÃ\x91A DE AZUCAR', 'CEBOLLAS', 'CEREZAS', 'CHAMPIÃ\x91ON',
       'CHIRIMOYAS', 'CHIRIVIAS', 'CIRUELAS', 'COCOS', 'COLES-REPOLLO',
       'COLIFLORES', 'CONGELADOS VEGETALES', 'CONSERVAS VEGETALES',
       'CUARTA GAMA FRUTAS', 'CUARTA GAMA HORT.', 'DATILES',
       'ELABORADOS VEGETALES', 'ENDIVIAS', 'ESCAROLAS', 'ESPARRAGOS',
       'ESPINACAS', 'FISALIS', 'FRAMBUESAS', 'FRESONES', 'FRESQUILLAS',
       'FRUTA DE LA PASION', 'FRUTOS SECOS', 'GARROFON', 'GRANADAS',
       'GRELOS', 'GROSELLA', 'GUAYABOS', 'GUINDILLAS', 'GUISANTES',
       'HABAS VERDES', 'HIGO CHUMBO', 'HIGOS', 'HINOJO', 'JENGIBRE',
       'JUDIAS VERDES', 'KIWI', 'KUNKUAT', 'LAUREL', 'LECHUGAS', 'LIMA',
       'LIMONES', 'LITCHIS', 'LOMBARDA', 'MACHE', 'MAIZ', 'MANDARINAS',
       'MANGA', 'MANGOS', 'MANGOSTAN', 'MANZANAS', 'MARACUYA',
       'MELOCOTONES', 'MELONES', 'MEMBRILLOS', 'MORAS', 'NABOS',
       'NARANJAS', 'NASHI', 'NECTARINAS', 'NISPEROS', 'NUECES', 'OCRA',
       'PAPAYA GIGANTE', 'PAPAYOS', 'PARAGUAYAS', 'PATATAS', 'PEPINOS',
       'PERAS', 'PEREJIL', 'PERETAS', 'PIMIENTAS', 'PIMIENTOS',
       'PITAHAYA', 'PIÃ\x91AS', 'PLATANOS', 'POMELOS',
       'PRECOCINADOS VEGETALES', 'PUERROS', 'QUINTA GAMA', 'RABANILLAS',
       'RABANOS', 'RAMBUTAN', 'REMOLACHA', 'RESTO DE FRUTAS',
       'RESTO HORTALIZAS', 'ROMANESCU', 'SANDIAS', 'SETAS', 'TABELLA',
       'TAMARINDO', 'TIRABEQUES', 'TOMATES', 'UVAS', 'YUCA', 'ZANAHORIAS',
       'Ã\x91AME O YAME'], dtype=object)

In [541]:
dat_mercaMadrid_dict = cultivos_names['dat_mercaMadrid_dict']

for elem in list(dat_mercaMadrid['product'].unique()) - dat_mercaMadrid_dict.keys():
  #dat_mercaMadrid = dat_mercaMadrid.drop(dat_mercaMadrid[dat_mercaMadrid['product'] == elem].index)
  dat_mercaMadrid = dat_mercaMadrid[dat_mercaMadrid['product'] != elem]

dat_mercaMadrid['product'] = dat_mercaMadrid['product'].map(lambda x: dat_mercaMadrid_dict[x])
dat_mercaMadrid['product'].unique()

array(['ACELGA', 'AJO', 'ALCACHOFA', 'APIO', 'BERENJENA', 'BROCOLI',
       'CALABACIN', 'CALABAZA', 'CEBOLLA', 'CHIRIVIA', 'COL REPOLLO',
       'COLIFLOR', 'ESCAROLA', 'ESPINACA', 'GUISANTE', 'HABA', 'JUDIA',
       'LECHUGA', 'COL LOMBARDA', 'MAIZ', 'MELON', 'NABO', 'PATATA',
       'PEPINO', 'PEREJIL', 'PIMIENTO', 'PUERRO', 'RABANITO', 'REMOLACHA',
       'SANDIA', 'TOMATE', 'ZANAHORIA'], dtype=object)

In [542]:
dat_mercaBarna['product'].unique()

array(['ACEITUNAS', 'ACELGAS', 'AGUACATE', 'AJOS SECOS', 'AJOS TIERNOS',
       'ALBARICOQUES', 'ALCACHOFA', 'APIOS', 'BATATA', 'BERENJENA LARGA',
       'BERENJENA REDONDA', 'BERROS', 'BORRAJA', 'BRÃ\x89COL',
       'BRÃ\x93CULI', 'CALABACÃ\x8dN', 'CALABAZA', 'CALÃ\x87OTS',
       'CARACOLES', 'CARAMBOLA', 'CARDOS', 'CAÃ\x91A DE AZÃ\x9aCAR',
       'CEBOLLA SECA', 'CEBOLLA SECA FIGUERAS', 'CEBOLLA TIERNA',
       'CEREZAS', 'CHAMPIÃ\x91ONES', 'CHIRIMOIA', 'CHIRIVÃ\x8dA',
       'CIRUELA', 'COCOS', 'COL BRUSELAS', 'COLES', 'COLES CHINA',
       'COLES LOMBARDA', 'COLIFLOR', 'ENDÃ\x8dBIAS', 'ESCAROLA',
       'ESPINACAS', 'ESPÃ\x81RRAGO BLANCO', 'ESPÃ\x81RRAGO VERDE',
       'FEIJOA', 'FRUTAS CAQUIS', 'FRUTAS DÃ\x81TILES',
       'FRUTAS FRAMBUESA', 'FRUTAS FRESA', 'FRUTAS FRESÃ\x93N',
       'FRUTAS FRUTAS SIN DETERMINAR', 'FRUTAS GRANADAS',
       'FRUTAS GROSELLA', 'FRUTAS HIGO CHUMBO', 'FRUTAS HIGOS',
       'FRUTAS KIWIS', 'FRUTAS MELÃ\x93N AMARILLO',
       'FRUTAS MELÃ\x93N GALIA', 'FRUTAS MELÃ\x93N SIN DETERMINAR',
       'FRUTAS MELÃ\x93N VERDE PIEL DE SAPO', 'FRUTAS MORA',
       'FRUTAS PIÃ\x91A TROPICAL', 'FRUTAS PLÃ\x81TANOS CANARIOS',
       'FRUTAS PLÃ\x81TANOS IMPORTACIÃ\x93N',
       'FRUTAS SANDÃ\x8dA CON GRANA', 'FRUTAS SANDÃ\x8dA SIN GRANA',
       'FRUTAS UVA BLANCA', 'FRUTAS UVA NEGRA', 'GUISANTE',
       'GÃ\x8dRGOLAS', 'HABAS', 'HINOJO', 'JUDÃ\x8dA BOBI',
       'JUDÃ\x8dA FINA', 'JUDÃ\x8dA PERONA', 'JUDÃ\x8dAS SIN DETERMINAR',
       'LECHUGA ICEBERG', 'LECHUGA LARGA', 'LECHUGA SIN DETERMINAR',
       'LICHIS', 'LIMA', 'LIMÃ\x93N', 'MANDARINA CLEMENTINA',
       'MANDARINA SATSUMA', 'MANDARINAS SIN DETER.', 'MANGOS',
       'MANZANA AMARILLA GOLDEN', 'MANZANA BICOLOR', 'MANZANA ROJA',
       'MANZANA VERDE GRANNY SMITH', 'MANZANAS SIN DETERMINAR',
       'MARACUYÃ\x81', 'MAÃ\x8dZ', 'MELOCOTONES ROJOS P.AMARILLA',
       'MELOCOTÃ\x93N AMARILLO', 'MELOCOTÃ\x93N ROJO P.BLANCA',
       'MEMBRILLO', 'MENESTRA', 'NABO', 'NARANJA', 'NASHIS',
       'NECTARINA PULPA AMARILLA', 'NECTARINA PULPA BLANCA',
       'NÃ\x8dSCALOS', 'NÃ\x8dSPERO', 'PAPAYAS',
       'PATATA BLANCA CALIDAD MONA LISA', 'PATATA ROJA', 'PEPINO',
       'PERA BLANQUILLA', 'PERA DE INVIERNO', 'PERA DE VERANO',
       'PERA TEMPRANA', 'PEREJIL', 'PIMIENTO LAMUYO', 'PIMIENTO ROJO',
       'PIMIENTO VERDE ITALIANO', 'PITAHAYA', 'POMELO', 'PUERROS',
       'RAMBUTÃ\x81N', 'REMOLACHA', 'RÃ\x81BANOS', 'SECO ALMENDRAS',
       'SECO AVELLANAS', 'SECO CASTAÃ\x91AS', 'SECO NUECES',
       'SETAS SIN DETERMINAR', 'TOMATE MADURO', 'TOMATE VERDE', 'VARIOS',
       'VERDURAS OTRAS', 'ZANAHORIA'], dtype=object)

In [543]:
dat_mercaBarna_dict = cultivos_names['dat_mercaBarna_dict']
# AASUNCION COLES A LA GENERAL COLES REPOLLO
for elem in list(dat_mercaBarna['product'].unique()) - dat_mercaBarna_dict.keys():
  #dat_mercaBarna = dat_mercaBarna.drop(dat_mercaBarna[dat_mercaBarna['product'] == elem].index)
  dat_mercaBarna = dat_mercaBarna[dat_mercaBarna['product'] != elem]

dat_mercaBarna['product'] = dat_mercaBarna['product'].map(lambda x: dat_mercaBarna_dict[x])
dat_mercaBarna['product'].unique()

array(['ACELGA', 'AJO', 'ALCACHOFA', 'APIO', 'BERENJENA', 'BROCOLI',
       'CALABACIN', 'CALABAZA', 'CEBOLLA', 'CEBOLLETA', 'CHIRIVIA',
       'COL BRUSELAS', 'COL REPOLLO', 'COL CHINA', 'COL LOMBARDA',
       'COLIFLOR', 'ESCAROLA', 'ESPINACA', 'MELON', 'SANDIA', 'GUISANTE',
       'HABA', 'JUDIA', 'LECHUGA', 'MAIZ', 'NABO', 'PATATA', 'PEPINO',
       'PEREJIL', 'PIMIENTO', 'PUERRO', 'REMOLACHA', 'TOMATE',
       'ZANAHORIA'], dtype=object)

In [544]:
precios_JAndalucia['PRODUCTO'].unique()

array(['LIMON', 'MANDARINA', 'NARANJA', 'POMELO', 'AGUACATE', 'CHIRIMOYA',
       'MANGO', 'FRAMBUESA', 'FRESÓN', 'AJO', 'CEBOLLA', 'ESPARRAGO',
       'LECHUGA', 'ZANAHORIA', 'BERENJENA', 'CALABACIN', 'JUDIA VERDE',
       'MELON', 'PEPINO', 'PIMIENTO', 'SANDIA', 'TOMATE',
       'BERENJENA (ECO)', 'CALABACIN (ECO)', 'PEPINO (ECO)',
       'PIMIENTO (ECO)', 'TOMATE (ECO)', 'ALMENDRA', 'ARANDANO',
       'SANDIA (ECO)', 'JUDIA VERDE (ECO)', 'ALMENDRA (ECO)'],
      dtype=object)

In [545]:
precios_JAndalucia_dict = cultivos_names['precios_JAndalucia_dict']

for elem in list(precios_JAndalucia['PRODUCTO'].unique()) - precios_JAndalucia_dict.keys():
  #precios_JAndalucia = precios_JAndalucia.drop(precios_JAndalucia[precios_JAndalucia['PRODUCTO'] == elem].index)
  precios_JAndalucia = precios_JAndalucia[precios_JAndalucia.PRODUCTO != elem]

precios_JAndalucia['PRODUCTO'] = precios_JAndalucia['PRODUCTO'].map(lambda x: precios_JAndalucia_dict[x])
precios_JAndalucia['PRODUCTO'].unique()

array(['AJO', 'CEBOLLA', 'LECHUGA', 'ZANAHORIA', 'BERENJENA', 'CALABACIN',
       'JUDIA', 'MELON', 'PEPINO', 'PIMIENTO', 'SANDIA', 'TOMATE'],
      dtype=object)

### 3.1.2 Descartar elementos que no nos interesen

In [546]:
# Quitar elementos Total Nacional en cosumo_CCAA
consumo_CCAA = consumo_CCAA[consumo_CCAA.CCAA != 'Total Nacional']

### 3.1.3 Unificar nombres de CCAA (y pasar provincias a CCAA)

In [547]:
with open('ccaa_names.json') as json_file:
  ccaa_names = json.load(json_file)

In [548]:
dat_mercaMadrid['origen'].unique()

array(['ALBACETE', 'ALICANTE', 'ALMERIA', 'AVILA', 'BADAJOZ', 'BURGOS',
       'CACERES', 'CANTABRIA', 'CASTELLON', 'CORDOBA', 'CUENCA',
       'FRANCIA', 'GRANADA', 'HUELVA', 'LA CORUÃ\x91A', 'LA RIOJA',
       'LEON', 'LERIDA', 'MADRID', 'MALAGA', 'MURCIA', 'NAVARRA',
       'ORENSE', 'PONTEVEDRA', 'PORTUGAL', 'SEGOVIA', 'SEVILLA',
       'TARRAGONA', 'TOLEDO', 'VALENCIA', 'VALLADOLID', 'VIZCAYA',
       'ZARAGOZA', 'CADIZ', 'CIUDAD REAL', 'HUESCA', 'BARCELONA',
       'GERONA', 'GUIPUZCOA', 'LAS PALMAS', 'LUGO', 'ZAMORA', 'ASTURIAS',
       'ALAVA', 'TERUEL', 'BELGICA', 'HOLANDA', 'BALEARES', 'GUATEMALA',
       'JAEN', 'MARRUECOS', 'REPUBLICA DOMINICANA', 'GUADALAJARA',
       'IRLANDA', 'PALENCIA', 'ARGENTINA', 'BRASIL', 'CHILE', 'CHINA',
       'COSTA RICA', 'ESTADOS UNIDOS', 'ITALIA', 'PERU', 'SALAMANCA',
       'SUDAFRICA', 'SORIA', 'POLONIA', 'ALEMANIA', 'SENEGAL', 'HONDURAS',
       'PANAMA', 'BULGARIA', 'ARGELIA', 'CAMERUN', 'EGIPTO',
       'GRAN BRETAÃ\x91A', 'OTROS PAIS. EUROPEOS', 'TURQUIA'],
      dtype=object)

In [549]:
ccaa_merca = ccaa_names['ccaa_merca']
# Hemos quitado paises de afuera (Italia, Rep Dominicana..'ARGENTINA', 'BRASIL', 'CHILE', 'CHINA'
for elem in list(dat_mercaMadrid['origen'].unique()) - ccaa_merca.keys():
  dat_mercaMadrid = dat_mercaMadrid[dat_mercaMadrid.origen != elem]

dat_mercaMadrid['origen'] = dat_mercaMadrid['origen'].map(lambda x: ccaa_merca[x])
dat_mercaMadrid['origen'].unique()

array(['Castilla La Mancha', 'Valencia', 'Andalucia', 'Castilla Leon',
       'Extremadura', 'Cantabria', 'Galicia', 'La Rioja', 'Cataluña',
       'Madrid', 'Murcia', 'Navarra', 'Pais Vasco', 'Aragon', 'Canarias',
       'Asturias', 'Baleares'], dtype=object)

In [550]:
dat_mercaBarna['origen'].unique()

array(['ALEMANIA', 'ALICANTE', 'ALMERIA', 'BARCELONA', 'BURGOS', 'CADIZ',
       'CATELLON', 'CHILE', 'CHINA', 'CORDOBA', 'ECUADOR', 'GERONA',
       'GRANADA', 'HUELVA', 'HUESCA', 'ITALIA', 'LA CORUÑA', 'LERIDA',
       'MADRID', 'MARRUECOS', 'MURCIA', 'NAVARRA', 'OTRAS PROVINCIAS',
       'OTROS AMERICA', 'TARRAGONA', 'USA', 'VALENCIA', 'VALLADOLID',
       'ALBACETE', 'BALEARES', 'CIUDAD REAL', 'CUENCA', 'FRANCIA',
       'HOLANDA', 'JAEN', 'LOGROÑO', 'SEGOVIA', 'SEVILLA', 'TOLEDO',
       'ARGENTINA', 'BADAJOZ', 'MALAGA', 'ORENSE', 'SORIA', 'ZAMORA',
       'BELGICA', 'TERUEL', 'ZARAGOZA', 'ALAVA', 'DINAMARCA', 'LUGO',
       'LUXEMBURGO', 'PORTUGAL', 'SUDAFRICA', 'CANADA', 'TUNEZ', 'AVILA',
       'CACERES', 'COSTA RICA', 'GRAN BRETAÑA', 'GUIPUZCUA', 'ISRAEL',
       'OVIEDO', 'SUIZA', 'TAILANDIA', 'VIZCAYA', 'BRASIL', 'MEJICO',
       'NUEVA ZELANDA', 'OTROS ASIA', 'COLOMBIA', 'PALENCIA',
       'COSTA MARFIL', 'OTROS AFRICA', 'OTROS EUROPA', 'TURQUIA',
       'AUSTRIA', 'OTROS ESPAÑA', 'SALAMANCA', 'PONTEVEDRA', 'KENIA',
       'URUGUAY', 'GUADALAJARA', 'ISLANDIA', 'SANTANDER', 'LEON',
       'ANDORRA', 'COREA', 'GRECIA'], dtype=object)

In [551]:
for elem in list(dat_mercaBarna['origen'].unique()) - ccaa_merca.keys():
  dat_mercaBarna = dat_mercaBarna[dat_mercaBarna.origen != elem]

dat_mercaBarna['origen'] = dat_mercaBarna['origen'].map(lambda x: ccaa_merca[x])
dat_mercaBarna['origen'].unique()

array(['Valencia', 'Andalucia', 'Cataluña', 'Castilla Leon', 'Aragon',
       'Galicia', 'Madrid', 'Murcia', 'Navarra', 'Castilla La Mancha',
       'Baleares', 'La Rioja', 'Extremadura', 'Pais Vasco', 'Asturias',
       'Cantabria'], dtype=object)

In [552]:
aemet_dict = ccaa_names['aemet_dict']

# CEUTA Y MELILLA LO HEMOS QUITAAAAAAAAO

for elem in list(aemet['Provincia'].unique()) - aemet_dict.keys():
  aemet = aemet[aemet.Provincia != elem]

aemet['Provincia'] = aemet['Provincia'].map(lambda x: aemet_dict[x])
aemet['Provincia'].unique()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array(['Galicia', 'Castilla La Mancha', 'Valencia', 'Andalucia',
       'Pais Vasco', 'Asturias', 'Castilla Leon', 'Extremadura',
       'Cataluña', 'Cantabria', 'Aragon', 'Baleares', 'La Rioja',
       'Canarias', 'Madrid', 'Murcia', 'Navarra'], dtype=object)

### Unificar nombres de meses (pasarlos a numericos)

In [553]:
with open('months_season.json') as json_file:
  months_season = json.load(json_file)

In [554]:
months = months_season['months']
for elem in list(consumo_CCAA['Mes'].unique()) - months.keys():
  consumo_CCAA = consumo_CCAA[consumo_CCAA.Mes != elem]

consumo_CCAA['Mes'] = consumo_CCAA['Mes'].map(lambda x: months[x])
consumo_CCAA['Mes'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [555]:
# Normalizar estaciones a meses
# Primero comprobamos si no hay valores nulos
#Chekiar en los numericos si hay 0 (que equivalen a nulos EN ESTE CASO)
calendario_siembra['D siem-recol'].unique()

array(['90', '60-120', '90-120', '100', '130', '75', '120', '60-180',
       '110', '80', '60'], dtype=object)

In [556]:

import pandas as pd

calendario_siembra_new = pd.DataFrame()
for _, row in calendario_siembra.iterrows():
  for epoca in row['Epoca siemb'].split('-'):
    calendario_siembra_new = calendario_siembra_new.append([{
        'Cultivo': row.Cultivo,
        'Epoca siemb': epoca.lower(),
        'D siem-recol': row['D siem-recol']
        }], ignore_index=True,)
    
calendario_siembra = calendario_siembra_new

In [557]:
season_to_month_dict = months_season['season_to_month_dict']

calendario_siembra['Inicio'] = calendario_siembra['Epoca siemb'].map(lambda x: season_to_month_dict[x][0])
calendario_siembra['Fin'] = calendario_siembra['Epoca siemb'].map(lambda x: season_to_month_dict[x][1])
calendario_siembra.drop('Epoca siemb', axis=1, inplace=True)
calendario_siembra.head()

     Cultivo D siem-recol  Inicio  Fin
0     ACELGA           90       9   11
1     ACELGA           90       3    5
2        AJO       60-120       9   11
3        AJO       60-120      12    2
4  ALCACHOFA       90-120       3    5

In [558]:
import math #python no redondea con 0.5
def normal_round(n):
    if n - math.floor(n) < 0.5:
        return math.floor(n)
    return math.ceil(n)


d_siembr = calendario_siembra['D siem-recol'] \
  .map(lambda x: x.split('-')) \
  .map(lambda days: list(map(lambda day: normal_round(float(day) / 30), days))) \
  .map(lambda x: x if len(x) >= 2 else x*2)

calendario_siembra['Min siem-recol'] = d_siembr.map(lambda x: x[0])
calendario_siembra['Max siem-recol'] = d_siembr.map(lambda x: x[1])
calendario_siembra.drop('D siem-recol', axis=1, inplace=True)

### Tratar valores nulos xd (0000)

In [559]:
import pandas as pd
pd.isnull(calendario_siembra).any()

#df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

Cultivo           False
Inicio            False
Fin               False
Min siem-recol    False
Max siem-recol    False
dtype: bool

In [560]:
import pandas as pd
pd.isnull(consumo_CCAA).any()

Año                      False
Mes                      False
CCAA                     False
Producto                 False
Volumen (miles de kg)    False
Valor (miles de €)       False
Precio medio kg          False
Penetración (%)          False
Consumo per capita       False
Gasto per capita         False
dtype: bool

In [561]:
pd.isnull(dat_mercaMadrid).any()

product       False
origen        False
YEAR          False
MONTH         False
price_mean    False
price_min     False
price_max     False
Volumen       False
dtype: bool

In [562]:
pd.isnull(dat_mercaBarna).any()

product       False
origen        False
YEAR          False
MONTH         False
price_mean    False
Volumen       False
dtype: bool

In [563]:
pd.isnull(precios_JAndalucia).any()

INICIO      False
FIN         False
PRODUCTO    False
POSICION    False
PRECIO      False
dtype: bool

In [564]:
pd.isnull(aemet).any()

Provincia                    False
Temperatura media (ºC)        True
Precipitación 00-24h (mm)     True
Fecha                        False
dtype: bool

In [565]:
pd.isnull(aemet).sum(axis=0)

Provincia                        0
Temperatura media (ºC)       37567
Precipitación 00-24h (mm)    45115
Fecha                            0
dtype: int64

In [566]:
# Agrupar por mes para ver la distribucion de nulos
aemet['Año'] = aemet['Fecha'].map(lambda x : int(x.split('-')[0]))
aemet['Mes'] = aemet['Fecha'].map(lambda x : int(x.split('-')[1]))
aemet['Dia'] = aemet['Fecha'].map(lambda x : int(x.split('-')[2]))

In [567]:
# Además, se borrara la columna fecha ya que es redundante
aemet.drop('Fecha', axis=1, inplace=True)
aemet.head()

  Provincia  Temperatura media (ºC)  Precipitación 00-24h (mm)   Año  Mes  Dia
0   Galicia                    10.2                        NaN  2018    3    7
1   Galicia                     7.0                        1.8  2018    3    7
2   Galicia                    10.2                        1.0  2018    3    7
3   Galicia                     8.7                        0.7  2018    3    7
4   Galicia                     7.4                        0.6  2018    3    7

In [568]:
#aux = aemet.groupby(['Provincia', 'Año' , 'Mes']).mean()
#aux = aemet[aemet['Precipitación 00-24h (mm)'].isnull()].groupby(['Provincia', 'Año' , 'Mes'])

In [569]:
import numpy as np

aux = aemet.copy()
def countNulls(x):
  count = 0
  if np.isnan(x[0]) or np.isnan(x[1]):
    count += 1
  return count

aux['Nulls'] = list(map(lambda x: countNulls(x), zip(aux['Temperatura media (ºC)'], aux['Precipitación 00-24h (mm)'])))
aux1 = aux.groupby(['Provincia', 'Año', 'Mes']).sum()[['Nulls']] # suma de filas con algun nulo
#Quitar columnas

In [570]:
display(aux1.head())

                    Nulls
Provincia Año  Mes
Andalucia 2018 1      187
               2      134
               3      344
               4      249
               5      245

In [571]:
aux2 = aux.groupby(['Provincia', 'Año', 'Mes']).count()['Dia'] # filtrar por un valor que no tiene nulos para obtener el n de filas por mes

In [572]:
aux1['per_nulls'] = aux1['Nulls'] / aux2 *100
aux1.head()

                    Nulls  per_nulls
Provincia Año  Mes
Andalucia 2018 1      187   5.373563
               2      134   4.224464
               3      344   9.736768
               4      249   7.364685
               5      245   7.097335

In [573]:
# Remove all the nulls 
aemet.dropna(inplace=True)

In [574]:
pd.isnull(aemet).any()

Provincia                    False
Temperatura media (ºC)       False
Precipitación 00-24h (mm)    False
Año                          False
Mes                          False
Dia                          False
dtype: bool

In [575]:
aemet.head()

  Provincia  Temperatura media (ºC)  Precipitación 00-24h (mm)   Año  Mes  Dia
1   Galicia                     7.0                        1.8  2018    3    7
2   Galicia                    10.2                        1.0  2018    3    7
3   Galicia                     8.7                        0.7  2018    3    7
4   Galicia                     7.4                        0.6  2018    3    7
5   Galicia                    10.3                        1.8  2018    3    7

### Chekeamiento de valores

In [576]:
calendario_siembra.describe()

          Inicio        Fin  Min siem-recol  Max siem-recol
count  64.000000  64.000000       64.000000        64.00000
mean    6.718750   6.218750        3.046875         3.53125
std     3.701003   3.410855        0.652947         0.95898
min     2.000000   2.000000        2.000000         2.00000
25%     3.000000   5.000000        3.000000         3.00000
50%     6.000000   5.000000        3.000000         3.00000
75%     9.000000  11.000000        3.000000         4.00000
max    12.000000  11.000000        4.000000         6.00000

In [577]:
consumo_CCAA.describe()

               Año          Mes  ...  Consumo per capita  Gasto per capita
count  9078.000000  9078.000000  ...         9078.000000       9078.000000
mean   2018.853933     5.859551  ...            0.393417          0.547362
std       0.742805     3.392309  ...            0.514203          0.573987
min    2018.000000     1.000000  ...            0.000000          0.000000
25%    2018.000000     3.000000  ...            0.080000          0.160000
50%    2019.000000     5.000000  ...            0.200000          0.320000
75%    2019.000000     9.000000  ...            0.440000          0.770000
max    2020.000000    12.000000  ...            4.360000          5.140000

[8 rows x 8 columns]

In [578]:
dat_mercaMadrid.describe()

               YEAR         MONTH  ...     price_max       Volumen
count  33898.000000  33898.000000  ...  33898.000000  3.389800e+04
mean    2018.934096      6.454422  ...      1.568666  6.954446e+04
std        0.796391      3.349925  ...      3.563890  2.496999e+05
min     2018.000000      1.000000  ...      0.000000  2.000000e+00
25%     2018.000000      4.000000  ...      0.620000  1.464250e+03
50%     2019.000000      7.000000  ...      1.000000  5.810000e+03
75%     2020.000000      9.000000  ...      1.900000  2.806150e+04
max     2020.000000     12.000000  ...    350.000000  7.262361e+06

[8 rows x 6 columns]

In [579]:
dat_mercaBarna.describe()

               YEAR         MONTH    price_mean       Volumen
count  13681.000000  13681.000000  13681.000000  1.368100e+04
mean    2018.915723      6.342080      1.018298  8.379785e+04
std        0.808933      3.349381      0.727834  2.683928e+05
min     2018.000000      1.000000      0.230000  1.000000e+00
25%     2018.000000      4.000000      0.584545  1.327000e+03
50%     2019.000000      6.000000      0.758333  8.550000e+03
75%     2020.000000      9.000000      1.150000  4.493300e+04
max     2020.000000     12.000000      5.662500  4.978898e+06

In [580]:
precios_JAndalucia.describe()

             PRECIO
count  13838.000000
mean       0.786503
std        0.682536
min        0.010000
25%        0.320000
50%        0.620000
75%        1.030000
max        8.690000

In [581]:
aemet.describe()

       Temperatura media (ºC)  ...            Dia
count           811893.000000  ...  811893.000000
mean                15.327651  ...      15.765655
std                  6.883050  ...       8.795279
min                 -9.500000  ...       1.000000
25%                 10.100000  ...       8.000000
50%                 15.100000  ...      16.000000
75%                 20.600000  ...      23.000000
max                 37.200000  ...      31.000000

[8 rows x 5 columns]

In [582]:
aemet[aemet['Temperatura media (ºC)'] <= -9.5]

           Provincia  Temperatura media (ºC)  ...  Mes  Dia
80100  Castilla Leon                    -9.5  ...    1    8

[1 rows x 6 columns]

### RESULTADOS HEAD

In [583]:
calendario_siembra.head()

     Cultivo  Inicio  Fin  Min siem-recol  Max siem-recol
0     ACELGA       9   11               3               3
1     ACELGA       3    5               3               3
2        AJO       9   11               2               4
3        AJO      12    2               2               4
4  ALCACHOFA       3    5               3               4

In [584]:
consumo_CCAA.head()

     Año  Mes       CCAA  ... Penetración (%)  Consumo per capita  Gasto per capita
24  2018    1  Andalucia  ...           71.12                1.80              1.20
28  2018    1  Andalucia  ...           79.01                0.86              1.27
29  2018    1  Andalucia  ...           72.88                0.54              0.50
30  2018    1  Andalucia  ...           40.69                0.06              0.25
31  2018    1  Andalucia  ...           17.48                0.12              0.12

[5 rows x 10 columns]

In [585]:
dat_mercaBarna.head()

   product    origen  YEAR  MONTH  price_mean  Volumen
62  ACELGA  Valencia  2018      1    0.750000      408
63  ACELGA  Valencia  2018      3    0.575000     1420
64  ACELGA  Valencia  2018     11    0.950000      302
65  ACELGA  Valencia  2018     12    0.838462     4056
66  ACELGA  Valencia  2019      1    0.883333     2529

In [586]:
dat_mercaMadrid.head()

    product              origen  YEAR  ...  price_min  price_max  Volumen
147  ACELGA  Castilla La Mancha  2019  ...        0.4        0.9     1300
148  ACELGA  Castilla La Mancha  2020  ...        0.6        1.3     3330
149  ACELGA            Valencia  2018  ...        0.7        1.0     1000
150  ACELGA            Valencia  2018  ...        0.3        1.0     6590
151  ACELGA            Valencia  2018  ...        0.3        0.7      200

[5 rows x 8 columns]

In [587]:
precios_JAndalucia.head()

        INICIO         FIN   PRODUCTO    POSICION  PRECIO
26  01/01/2018  07/01/2018        AJO      Mercas    1.82
27  01/01/2018  07/01/2018    CEBOLLA      Mercas    0.40
29  01/01/2018  07/01/2018    LECHUGA      Mercas    1.26
30  01/01/2018  07/01/2018  ZANAHORIA      Mercas    0.76
31  01/01/2018  07/01/2018  ZANAHORIA  Agricultor    0.32

In [588]:
aemet.head() # hacer media

  Provincia  Temperatura media (ºC)  Precipitación 00-24h (mm)   Año  Mes  Dia
1   Galicia                     7.0                        1.8  2018    3    7
2   Galicia                    10.2                        1.0  2018    3    7
3   Galicia                     8.7                        0.7  2018    3    7
4   Galicia                     7.4                        0.6  2018    3    7
5   Galicia                    10.3                        1.8  2018    3    7

## 4. Transformación